body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
}

#etch-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-width: 700px;
    max-height: 700px;
    flex: 1;
    background-color: rgb(205, 205, 205);
}

.divRow {
    display: flex;
    height: 10px;
}

.divCol {
    display: flex;
    flex: 1;
}

