body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    height: 100vh;
    background-color: #9c9c9c;
    align-self: ;
}

/* .color-picker {
    display: flex;
    flex-direction: column;
}

.row-1 {
    display: flex;
}

.row-2 {
    display: flex;
}

.row-3 {
    display: flex;
}

.color-1 {
    background-color: #ff0000;
    min-width: 10px;
} */

#etch-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    max-width: 100vw;
    flex: 1;
    background-color: #cdcdcd;
}

.divRow {
    display: flex;
    min-height: 10px;
}

.divCol {
    display: flex;
    flex: 1;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}
